builds/**
cache/**
*.code-workspace
cache/**
django-backend/cache/**
media/**
**.pyc

# local custom users files
_info

# Editor directories and files
.idea
.vscode

.htaccess
.infomaniak-maintenance.html
.user.ini
