@media screen and (min-width: 56rem) { /* = 2*28. 2 cards take 2*10inner+4padding+4margin */
  #map {
    width: calc(100% - 2em);
    /* float: right; */
    margin: 1em;
  }
  #cards-panel {
    width: 50%;
  }
  #cards-canvas {
    height: 100vh;
    overflow: scroll;
  }
}
#map {
  height: 100vh;
}
#cards-panel {
  clear: left;
}
.card-title {
  font-weight: bold;
  color: black;
  padding: 0.5em;
  font-size: smaller;
}
.card-description {
  font-size: 0.8em;
  color: black;
  padding: 0.2em;
}
.card-text {
  height: 7.5em;
  -webkit-mask-image: linear-gradient(180deg, #000 70%, transparent);
  -webkit-mask-repeat: no-repeat;
}
.card-text p {
  padding: 0pt;
  margin: 0pt;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
.card-image {
  width: 100%;
  height: 7em;
  border-radius: 0.3em 0.3em 0 0;
}
.card {
  float: left;
  width: 10em;
  height: 15em;
  background-color: beige;
  margin: 1em;
  border-radius: 0.3em;
  border: black;
  overflow: hidden;
  /*padding: 1em;*/
}
ul {
  margin: 0pt;
  padding: 0pt;
}

#logo {
  width: 3em;
  float:left;
  padding: 0.5em;
}
#sk-title {
  float: left;
  padding: 1.2em;
  font-size: larger;
  font-weight: bold;
}
#regionSelector {
  padding: 1.5em;
}

#footer {
  clear:both;
}

div::-webkit-scrollbar {
  display: none;
}