@media screen and (min-width: 56rem) { /* = 2*28. 2 cards take 2*10inner+4padding+4margin */
  #map {
    width: calc(100% - 2em);
    /* float: right; */
    margin: 1em;
  }
  #cards-panel {
    width: 50%;
  }
  #cards-canvas {
    height: 100%;
    overflow: scroll;
    max-width: 100%;
  }
}
#map {
  height: 100vh;
}
#cards-panel {
  clear: left;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
.card-image {
  width: 100%;
  border-radius: 0.3em 0.3em 0 0;
}
ul {
  margin: 0pt;
  padding: 0pt;
}

#logo {
  width: 3em;
  float:left;
  padding: 0.5em;
}
#sk-title {
  float: left;
  padding: 1.2em;
  font-size: larger;
  font-weight: bold;
}
#regionSelector {
  padding: 1.5em;
}

#footer {
  clear:both;
}

div::-webkit-scrollbar {
  display: none;
}
.selectedTag:hover {
  background-color: rgb(226, 111, 117);
}
.selectedTag {
  cursor: pointer;
  /*float: left;*/
  display: inline-block;
  background-color: rgb(87, 170, 87);
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
}

.proposedTag {
  cursor: pointer;
  /*float: left;*/
  display: inline-block;
  background-color: orange;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
}
.tagValue {
  font-size:x-small;
}
#tagPanel {
  clear: left;
  overflow-x: scroll;
  white-space: nowrap;
  height: 3.5em;
}
